<form action="/create-bar" method="POST">
  <label for="name-input">Name</label>
  <input id="name-input" type="text" name="name" />
  <label for="bar_id-input">bar_id</label>
  <input id="bar_id-input" type="text" name="bar_id" />
  <label for="twist-input">Twist</label>
  <input id="twist-input" type="text" name="twist" />
  <label for="location-input">Location</label>
  <input id="location-input" type="text" name="location" />
  <label for="capacity-input">Capacity</label>
  <input id="location-input" type="text" name="capacity" />
  <button type="submit">Create Bar</button>

</form>

<p>Requisiti bar: 1. Nome; 2. bar_id, twist, location, capacity
</p>