<!-- index2.hbs -->
<h1>Search</h1>
<nav>
  <ul>
    <li><a href="/">Index</a></li>
    <li><a href="/random">Random Bar</a></li>
    <li><a href="/search">Search bar by location</a></li>
    <li><a href="/search">Search bar by capacity</a></li>
    <li><a href="/search">Search bar by name</a></li>
    <li><a href="/create-bar">Create bar</a></li>
  </ul>
</nav>

<nav>
  <ul>
    <li><a href="/login">Login</a></li>
    <li><a href="/signup">Signup</a></li>
  </ul>
</nav>